<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021445825736-2205jgl2i6qi373gjefi4gv7lnhq5v5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021445825736-2205jgl2i6qi373gjefi4gv7lnhq5v5i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021445825736-0vdh7fvgkbenghf5d75hateqapd9of1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA83KmAsy5df6zd87cpjSZBzgjN5x0TDpU</string>
	<key>GCM_SENDER_ID</key>
	<string>1021445825736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.micheduc25.camdoc_finder</string>
	<key>PROJECT_ID</key>
	<string>camdoc-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>camdoc-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021445825736:ios:2bed5305c2bee1bc7a71fd</string>
</dict>
</plist>